@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror {
  padding: 10px;
  max-width: 80vw !important;
  height: 80vh !important;
  font-size: 1.4rem;
}

/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Styling the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Styling the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
